<?xml version="1.0"?>
<launch>

  <include file="$(find neu_launch)/launch/freenect-registered-xyzrgb.launch" />
  <include file="$(find neu_launch)/launch/depthimage_to_laserscan.launch" />
  <include file="$(find neu_launch)/launch/rosserial_d1.launch" />
  <include file="$(find neu_launch)/launch/rosserial_d2.launch" />
  <include file="$(find neu_launch)/launch/slam_gmapping_pr2.launch" />
  <node name="odom_tf_package" pkg="odom_tf_package" type="odom_tf_package" />
  <node pkg="rviz" type="rviz" name="rviz" 
    args="-d $(find neu_launch)/config/gmapping_d.rviz"/>

</launch>
