<?xml version="1.0"?>
<launch>


  <!--include file="$(find neu_launch)/launch/rosserial_d1.launch" /-->
  <!--include file="$(find neu_launch)/launch/rosserial_d2.launch" /-->
  <include file="$(find neu_launch)/launch/slam_gmapping_pr2.launch" />
  <node pkg="rviz" type="rviz" name="rviz" 
    args="-d $(find neu_launch)/config/gmapping_d.rviz"/>

</launch>
