<?xml version="1.0"?>
<launch>
  
  <node ns="base_yaw" name="base_yaw" pkg="rosserial_python" type="serial_node.py"  >
    <param name="port" value="/dev/Arduino_base"/>
  </node>

  <node ns="base_speed" name="base_speed" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyUSB0"/>
  </node>

  <include file="$(find neu_launch)/launch/laser.launch" >
  </include>
  
  <include file="$(find neu_launch)/launch/amcl_diff.launch" />
  <include file="$(find neu_launch)/launch/move_base.launch" />

  <!-- Publish odom based on imu and wheel speed -->
  <node name="odom_tf" pkg="odom_tf_package" type="odom_tf" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find neu_launch)/map/map1122.yaml"/>

  <!-- Subscribe location from voice command -->
  <node name="listener" pkg="odom_tf_package" type="goal_listener.py" />

  <!-- Minor adjust base position following vision feedback -->
  <node name="offset_listener" pkg="odom_tf_package" type="adapt_location.py" />

  <!--node pkg="rviz" type="rviz" name="rviz" 
    args="-d $(find neu_launch)/config/navigation.rviz"/-->
  <!--node name="move_base_square" pkg="move_base_square" type="move_base_square" /-->

</launch>
